<?php
/**
 * @var $block \M21\Pdfreader\Block\Pdfreader
 */
?>
<?php
if ($src = $block->Pdfreader()) {
    ?>
    <iframe width="100%" height="950" src="<?= $src ?>" class="PdfReaderIframe"></iframe>
<?php } ?>

<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {

        var width = $('.product-primary-column').width();
        $('.PdfReaderIframe').css('width', width + 'px');
        if (width <= 1000) $('.PdfReaderIframe').css('height', 950 + 'px');
        if (width <= 800) $('.PdfReaderIframe').css('height', 800 + 'px');
        if (width <= 600) $('.PdfReaderIframe').css('height', 600 + 'px');
        if (width <= 400) $('.PdfReaderIframe').css('height', 400 + 'px');
    });
</script>
